@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

/* estilo vista productos */

*{
    font-family: 'Electrolize';
}

.titleProduct{
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: 'Electrolize';
    font-size: 30px;
    font-weight: bold;
    color : #414042;
    width: 100%;
    border-bottom: 5px solid #0082eb    ;
    padding-bottom: 20px;
}

.titleProduct2{
    text-align: center;
    font-family: 'Electrolize';
    font-size: 35px;
    font-weight: bold;
    color : #414042;
    width: 100%;
    padding-bottom: 20px;
}


.containerProduct{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: center;
}
.containerCardProduct{
    width: 30vw;
    height: 57vh;
    padding: auto;
    position: relative;
    text-align: center;
    justify-content: space-around;
    border: 1px solid lightgrey;
    margin: 1rem;
    border-radius: 10px;
}
.imgProduct{
    width: 100%;
    display:flex;
    flex-wrap: nowrap;
    border-radius: 10px;
    
}
.containerDetailsProducts{
    justify-content: space-around;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.brandProduct{
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    justify-content: space-around;
    margin: auto;
}
.buttonMoreInfoProduct{
    width: 10vw;
    padding: 0.5rem;
    border-radius: 50px;
    margin-bottom: 1rem;
    border: none;
    background-color: #0082eb;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    position: relative;
    bottom: -10px;
}
.buttonMoreInfoProduct:hover{
    background-color: #000000;
    color: #ffffff;
    transition: 400ms;
}

/* estilos 
detalles Productos */
.containerDetail{
    position: relative;
    display: block;
    flex-wrap: wrap;
    text-align: justify;
    width: 100%;
}
.containerCardDetail{
    display: block;
    flex-wrap: wrap;
    
}
.titleDetail{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    margin: auto;
    padding: auto;
}

.tittleData1{
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
    color: #212529;
    font-size: 40px;
}

.tittleData{
    color: #808080;
    font-size: 26px;
    line-height: 36px;
    font-family: 'Electrolize';
    font-weight: bold;
    margin-top: 30px;
}

.tittleData2{
    color: #808080;
    font-size: 24px;
    line-height: 36px;
    font-family: 'Electrolize';
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}

.descripcionCentrada {
    color: #808080;
    font-size: 17px;
    line-height: 30px;
    font-family: 'Electrolize';
}

.imgDetail{
    width: 40%;
    height: auto;
    display:flex;
    flex-wrap: wrap;
    border-radius: 20px;
    margin: auto;
    padding: auto;
}
.containerProductDescription{
    position: relative;
    width:100%;
}
.containerUlLiDetail{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.containerUlLiDetail h3{
    color: #414042;
    font-size: 22px;
    line-height: 27px;
     text-align: left;
    font-family: 'Electrolize';
    font-weight: bold;
    padding-top: 10px;
}

.textoCeleste {
    color: #0082eb;
    font-size: 16px;
    text-align: left;
    font-family: 'Electrolize';
    font-weight: bold;
}

.containerUlLiDetail ul {
    text-align: center;
    margin: auto;
    width: 33vw;
    position: relative;
    border-bottom: 1px solid #cccbcb;
    margin-bottom: 10px;
}
.containerUlLiDetail img{
    width: 3em;
    height: auto;
    margin-right: 10px;
}
.containerUlLiDetail ul li {
    margin-bottom: 10px;
    font-family: 'Electrolize';
    text-align: left;
    font-size: 16px;
    color: #808080;
    margin-top: 5%;

    
}
.storageDetail{
    font-size: 20px;
}




/* media queri de vista de productos y detalles de productos */
@media (max-width:1200px){
   .containerProduct{
       display: flex;
       flex-wrap: wrap;
   }
    .containerCardProduct{
        width: 50vw;
        margin: 1rem;
    }
    .containerProductDescription{
        width:100% ;
    }
}

@media (max-width:1100px){
    .buttonMoreInfoProduct{
        width: 15vw;
        padding:none;
        font-size: 17px;
    }
}
@media (max-width:724px){
    .buttonMoreInfoProduct{
        width: 15vw;
        padding:none;
        font-size: 15px;
    }

    .brandProduct {
        text-align: center;
    }
    .containerUlLiDetail ul{
        width: 80vw;
    }
    .imgDetail{
        width: 100%;
    }
}

@media (min-width:620px) and (max-width:1100px) {
    .buttonMoreInfoProduct{
        width: 80%;
        font-size: 15px;
        margin-right: 200px;
    }
    .containerCardProduct{
        width: 80%;
    }

    .containerCardProduct {
        height: 60%;
    }


    .imgDetail{
        width: 100%;
    }
}

@media (max-width:450px){
    .buttonMoreInfoProduct{
        width: 100%;
        font-size: 15px;
    }
    .containerCardProduct{
        width: 80%;
        margin: 1rem;
    }

    .containerCardProduct {
        height: 425px;
    }

    .containerProductDescription{
        width:100% ;
        
    }
    .containerUlLiDetail ul{
        width: 80vw;
    }
    .imgDetail{
        width: 100%;
    }
    .containerUlLiDetail ul{
        margin: auto;
        padding: auto;
    }
}

/* ----------------- ESTILOS SOBRE BOOTSTRAP ----------------- */

.cardListProduct{
    box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.32);
    -webkit-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.32);
    -moz-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.32);
    background-color: black !important;
}

.cardBodyProduct{
    /* height: 18vh;
    max-height: 20vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cp {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    gap: 10%;
}

.cp2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    gap: 2%;
}

.tituloListProduct {
    text-align: center;
    margin-bottom: 1.5rem !important;
    margin-top: 1.5rem !important;
    font-family: 'Electrolize';
    font-size: 20px !important;
    color: white;
    font-weight: bold !important;
}

.imagenListProduct{
    width: 30px;
}

.cardListProduct:hover{
    opacity: 85%;
    transition: 1s all;
}

.contenedorButtonListProduct{
    display: flex;
    justify-content: space-around;
}

.buttonMoreInfo{
    background-color: black !important;
    color: white !important;
    border: 1px solid white !important ;
}

.buttonMoreInfo:hover{
    background-color: #22ffff !important;
    border: 1px solid #22ffff !important ;
    color: black !important;
    transition: 0.5s ease all;

}

.buttonBuyItNow{
    background-color: black !important;
    color: white !important;
    border: 1px solid white !important ;
}

.buttonBuyItNow:hover{
    background-color: #ff22f8 !important;
    border: 1px solid #ff22f8 !important ;
    color: black !important;
    transition: 0.5s ease all;
}


@media (min-width:380px) {
.cardListProduct{
    /* width: 21rem; */
    width: 19rem;
    gap: 0px !important;
    }
}

@media (max-width:380px) {
    .cardListProduct{
        width: 19rem;
    }
}


.imagenCondicional {
        width: 100%;
        border-radius: 10px;
}

@media (max-width:600px) {
    .imagenCondicional{
        display: none;
    }
}