.col_white_amrc { color:#FFF;}
footer { 
	width:100%; 
	background-color: #222a33; 
	min-height:200px; 
	padding:10px 0px 20px 0px ; 
	font-family: 'Electrolize'; 
	font-weight: 500; 
	text-align: left;
}

.pt2 { 
	padding-top:40px ; 
	margin-bottom:20px ;
}

footer p { 
	font-size:13px; 
	color:#CCC; 
	padding-bottom:0px; 
	margin-bottom:8px;
	
}

.footer 

.mb10 { padding-bottom:15px ;}


@media (min-width: 1000px){
.footer_ul_amrc { 
	margin:0px ; 
	list-style-type:none; 
	font-size:14px; 
	padding:0px 0px 10px 0px; 
	text-align: center;
 }

 .footer_ul_amrc li a {
	 padding:0px 0px 5px 0px;
	 font-family: 'Electrolize';
	 color: white
	}


}

@media (max-width: 800px){
	.footer_ul_amrc { 
		margin:0px ; 
		list-style-type:none; 
		font-size:14px; 
		padding:0px 0px 10px 0px; 
		margin-top: 40px;
	}
}




.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#818283; text-decoration:none;}
.footer_ul_amrc li a:hover{ color:red;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px; }
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}


.logoFooter {
	width: 40%;
}

.tituloFooter {
	color: white;
	font-size: 25px;
	line-height: 26px;
}