

.container__columnaIzq{
	margin-bottom: 0.5px;
}
.row__columna{
	display: flex!important;
	justify-content:space-between!important;
}
.col__armadoPc{
	display: flex;
	align-items: center;
	justify-content: center;
}
.col__armadoPc span{
	font-size: 18px;
	margin-left: 5px;
}

/* --- CATEGORIAS */
.traigo-datos{
	display: flex;
	align-items: center;
	cursor: pointer;
	min-height: 70px;
	border: 1px solid #e8e8e8;
	border-radius: 5px;
	background-color: rgba(241, 241, 241, .6);
	
}
.traigo-datos:hover {
	border: 1px solid #4f4f4f !important;
	transition: all .2s ease-in-out;
}
.traigo-datos h6 {
	font-size: 12px;
}

.imgPaso {
	/* height: 32px; */
	height: 36px;
}
.row__categorias{
	margin: 0px;
	display:flex!important;
	justify-content: space-evenly!important;
	font-family: 'Electrolize';
}
.col__categorias{
	display: flex;
	align-items: center;
	justify-content:center;
}
.descripcionProductoElegido {
	text-align: left;
	line-height: 10px;
	font-size: 13px;
}
.descripcionProductoElegido ul{
	padding-left: 0;
	color: #2d2d2d;
	line-height: 0.9;
}
.descripcionProductoElegido p{
	padding-left: 0;
	color: #2d2d2d;
	line-height: 0.9;
	font-weight: bold;
}
.armaTuPc{
	border: 1px solid lightgrey;
}
.armaTuPc h6{
    font-weight: bold;
}
.disabledCategory {
	/* OCULTO CATEGORIAS */
	pointer-events: none;
	opacity: 0.4;
}
.elegido {
	border: 1px solid #4f4f4f !important;
	background-color: #fff;
}
/* --- CATEGORIAS */

/* ****************** COLUMNA IZQUIERDA */
/* ****************** COLUMNA MEDIO */

#disponibles{
	display:none;
}
#contenedorProducto{
	display:none;
}
.img__columnaMedio{
	width: 100%;
}
.shadow:hover {
	box-shadow: 0 0 15px 0 rgb(10 10 10/ 30%) !important;
	transition: box-shadow 200ms !important;
}
/* MAPEO COPMPONENTES */
.fade-in {
	-webkit-animation: fade-in .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.componentesMedio{
	text-align: center;
	min-height: 20vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.componentesMedioRow{
	text-align: -webkit-center;
}
.componentesMedioColImagen{
	min-height: 120;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.componentesMedioColDesAliasPrecio{
	text-align: center;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}
.componente__decripcion{
	color: #212529;
	font-weight: 700;
	font-size: 15px;
	cursor: pointer;
}
.componente__aliasPrecio{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	text-align: right;
}

@media(max-width: 1200px){ /* VISTA TABLET Y NOTEBOOKS CHICA RESOLUCION */
	.componente__aliasPrecio{
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between;
		align-items: center;
	}
}
@media(max-width: 768px){
	.componente__aliasPrecio{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
		text-align: right;
	}
}


/* ****************** COLUMNA MEDIO */
/* ****************** COLUMNA DERECHA */

#armarTuPc__columnaDer{
	font-family: 'Electrolize', sans-serif;
	position: sticky;
	top: 157px;
}
#comprar{
	font-size: 18px;
}
.img__columna3{
	width: 100%;
}
.acomodoAltura{
    line-height: 1;
}
#listado-compra {
	text-align: justify;
	font-size: 13px;
	line-height: 10px;
}

/* ****************** COLUMNA DERECHA */

@media(max-width: 768px){
	.row__categorias{
		margin: 0px;
		width: inherit;
		/* display:block!important;  */
		/* justify-content: flex-start!important; */
		font-family: 'Electrolize';
	}
	.img-intel-category{
		display: none;
	}
}